# Backend Environment Variables
PORT=3001
FRONTEND_URL=https://watch-too.up.railway.app
REDIS_URL=redis://localhost:6379

LIVEKIT_API_KEY=your_api_key_here
LIVEKIT_API_SECRET=your_api_secret_here
LIVEKIT_URL=wss://your-livekit-server-url